<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="Customer" class="Customer">
		<property name="customerId" value="999" />
		<property name="customerName" value="sudhnit" />
		<property name="customerContact" value="6204220742" />
		<property name="customerAddress" ref="Sector18" />
	</bean>

	
	<bean id="Sector18" class="Address">
		<property name="street" value="Sector18" />
		<property name="city" value="Chandigarh" />
		<property name="state" value="Punjab" />
		<property name="zip" value="160018" />
		<property name="country" value="India" />
	</bean>
	
</beans>