body{

    background-color: #c7f0f3;

}

.exfour{font-size:xx-large;
   
}
.exone{text-decoration: line-through;font-size:x-large;
    
}
.extwo{
    text-decoration: underline;font-size:large;
   
}
